<div class="not-found__content">
  <mat-card>
    <div class="not-found__card-header">
      <h1 class="mat-display-3">P&aacute;gina n&atilde;o encontrada</h1>
    </div>
    <div class="not-found__card-content">
      <p class="mat-body-1">
        A p&aacute;gina solicitada n&atilde;o foi encontrada ou n&atilde;o
        est&aacute; mais dispon&iacute;vel. Se voc&ecirc; acha que isso &eacute; um erro, por favor
        entre em contato informando a URL abaixo:
      </p>
      <pre>{{ currentUrl }}</pre>
    </div>
  </mat-card>
</div>