.header__wrapper {
  background-image: url('../../../assets/img/misc/generic.jpg');
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.header__content {
  margin: 24px 0;
}

.header__content-row {
  flex: 1;
  align-content: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.team-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 112px;
}

@media (max-width: 720px) {

  .header__content-row {
    flex-wrap: wrap;
  }

  .team-name {
    font-size: 56px;
    line-height: 5rem;
    max-height: 10rem;
    letter-spacing: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .header__info-row p {
    text-align: center;
  }

  .clubhouse__content {
    flex-direction: column-reverse;
  }
}

.header__info-row {
  justify-content: flex-end;
}