<ng-container *ngIf="team$ | async as team; else loading">
  <header class="header__wrapper">
    <div class="header__content">
      <div class="header__content-row mat-display-4">
        <img src="http://www.draftbrasil.org/superliga/htdocs/img/team/logo/{{team.team.id_sl}}.png">
        <h1>{{team.team.city}} {{team.team.nickname}}</h1>
      </div>
      <div class="header__content-row header__info-row">
        <p class="mat-title">
          {{team.team.record.win}} - {{team.team.record.loss}} • Divis&atilde;o {{team.team.division.name}} • Confer&ecirc;ncia {{team.team.division.conference.name}}
          • GM: {{team.team.users[0].nickname}}</p>
      </div>
    </div>
  </header>

  <div class="container clubhouse__content">
    <div class="clubhouse__content-left">
      <div class="clubhouse__content-tile">
        <h3 class="mat-title">roster</h3>
        <app-team-players [players]="team.team.players"></app-team-players>
      </div>
      <div class="clubhouse__content-tile">
        <h3 class="mat-title">draft</h3>
        <app-team-picks [picks]="team.team.picks"></app-team-picks>
      </div>
    </div>
    <div class="clubhouse__content-right">
      <div class="clubhouse__content-tile">
        <h3 class="mat-title">pontuação</h3>
        <div class="clubhouse__score-tile">
          <span class="mat-display-2">{{team.team.stats.fantasy_points.toFixed(2)}}
            <span class="clubhouse__score-suffix">fpg</span>
            • {{(team.team.stats.fantasy_points/48).toFixed(2)}}
            <span class="clubhouse__score-suffix">fpm</span>
          </span>
        </div>
      </div>
      <div class="clubhouse__content-tile">
        <h3 class="mat-title">minutos restantes</h3>
        <app-minutes-chart [stats]="team.team.stats"></app-minutes-chart>
      </div>
      <div class="clubhouse__content-tile">
        <h3 class="mat-title">jogos recentes</h3>
        <app-recent-team-games [games]="team.team.recent_games" [team]="team"></app-recent-team-games>
      </div>
      <div class="clubhouse__content-tile">
        <h3 class="mat-title">pr&oacute;ximos jogos</h3>
        <app-next-team-games [games]="team.team.next_games" [team]="team"></app-next-team-games>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>