<ng-container *ngIf="team$ | async as team; else loading">
  <header class="header__wrapper">
    <div class="header__content">
      <div class="header__content-row mat-display-4">
        <img src="https://static.draftbrasil.net/team/logo/{{team.team_overview.id_sl}}.png">
        <h1 class="team-name">{{team.team_overview.city}} {{team.team_overview.nickname}}</h1>
      </div>
      <div class="header__content-row header__info-row">
        <p class="mat-title">
          {{team.team_overview.division.conference.name}}
          • GM: {{team.team_overview.users[0].nickname}}</p>
      </div>
    </div>
  </header>
  <nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['./overview']" routerLinkActive #rla0="routerLinkActive" [active]="rla0.isActive">Equipe</a>
    <a mat-tab-link [routerLink]="['./history']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">Hist&oacute;rico</a>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>