.player-name {
    flex-grow: 3;
}

.empty-roster {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.empty-roster img {
    height: 96px;
}