<div class="grid" *ngIf="teams$ | async as teams;">
  <div class="left-nav">
    <mat-nav-list>
      <a mat-list-item  *ngFor="let team of teams" (click)="loadTeam(team)">{{team.city}} {{team.nickname}}</a>
    </mat-nav-list>
  </div>

  <div class="team-info right-content column" *ngIf="team$ | async as team; else placeholder">
    <app-admin-team-settings [team]="team" (update)="onTeamUpdate(teams, $event)"></app-admin-team-settings>
    <app-admin-team-players
      [players]="team.players"
      [freeAgents]="freeAgents"
      (removePlayer)="onRemoveTeamPlayer(team, $event)"
      (addPlayer)="onAddTeamPlayer(team, $event)"
    ></app-admin-team-players>
  </div>
  <ng-template #placeholder>
    <div class="right-content">
      <mat-card>
        <mat-card-title>
          <span *ngIf="!team$">Selecione uma equipe</span>
          <span *ngIf="team$">Carregando...</span>
        </mat-card-title>
      </mat-card>
    </div>
  </ng-template>
</div>