<mat-toolbar color="accent">Boxscore</mat-toolbar>
<div class="container">
  <div *ngIf="game$ | async as game; else loading">
    <div class="game-info">
      <div class="info-row">
        <img src="http://www.draftbrasil.net/superliga/htdocs/img/team/small/{{game.home_team.id_sl}}.png">
        <span class="mat-headline">
          <a class="link" [routerLink]="['/team', game.home_team.slug]">
            {{game.home_team.city}} {{game.home_team.nickname}}
          </a>
        </span>
        <span class="score mat-headline">
          {{game.home_performance.fantasy_points}} × {{game.away_performance.fantasy_points}}
        </span>
        <span class="mat-headline">
          <a class="link" [routerLink]="['/team', game.away_team.slug]">
            {{game.away_team.city}} {{game.away_team.nickname}}
          </a>
        </span>
        <img src="http://www.draftbrasil.net/superliga/htdocs/img/team/small/{{game.away_team.id_sl}}.png">
      </div>
      <div class="info-row">
        <p class="mat-caption">
          Rodada {{game.round.round_number}}
          •
          {{game.round.open_date | date}}
          -
          {{game.round.close_date | date}}
        </p>
      </div>
    </div>

    <!-- TODO round scores -->
    <div class="game-stats">
      <app-team-score
        [info]="game.home_team"
        [performance]="game.home_performance"
        [players]="game.home_players"></app-team-score>

      <app-team-score
        [info]="game.away_team"
        [performance]="game.away_performance"
        [players]="game.away_players"></app-team-score>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>