<mat-toolbar color="accent">Leilão</mat-toolbar>
<div class="container" *ngIf="pageReady$ | async as page; else loading">
  <div class="main-content" *ngIf="subObs | async as auc">
      <app-auction-panel
        [auction]="page.auctionInfo"
        [bids]="auc.bids"
        [cap]="auc.cap"
        [waiver]="auc.waiver"
        (playerBid)="sendTeamBid(page.auctionInfo.id_auction, $event)"
        (refresh)="refreshData(page.auctionInfo)"></app-auction-panel>
      <app-available-auction-players
        *ngIf="isOpen(page.auctionInfo)"
        [players]="auc.free_agents"
        [bids]="auc.bids"
        (playerBid)="sendTeamBid(page.auctionInfo.id_auction, $event)"></app-available-auction-players>
  </div>
  <div class="side-panel">
    <mat-card class="waivers">
      <mat-card-title>Waivers</mat-card-title>
      <ul class="waiver-list">
        <li *ngFor="let waiver of page.waivers">
          <span>#{{waiver.waiver}}</span>
          <span>
            <app-lookup [element]="waiver" [showAvatar]="false"></app-lookup>
          </span>
        </li>
      </ul>
    </mat-card>
    <mat-card>
      <p class="finished">Leilão Finalizado</p>
      <p class="waiting-restricted">Aguardando dono dos direitos</p>
      <p class="last-hour">Última hora de leilão</p>
      <p class="last-six">Últimas 6 horas de leilão</p>
      <p class="open">Leilão aberto</p>
    </mat-card>
    <mat-card class="rules">
      <p>Lance mínimo: <span class="value">{{ page.rules['AUCTION_MIN_BID'] | currencySuffix:2 }}</span></p>
      <p>Lance máximo: <span class="value">{{ page.rules['AUCTION_MAX_BID'] | currencySuffix:2 }}</span></p>
      <p>Incremento entre lances: <span class="value">{{ page.rules['AUCTION_BID_INCREMENT'] | currencySuffix:2 }}</span></p>
      <p>Tempo de leilão: <span class="value">{{ getTimeLabel(page.rules['AUCTION_BID_OFFSET_TIME']) }}</span></p>
    </mat-card>
    <app-auction-list [auctions]="page.auctions"></app-auction-list>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>