<div class="grid">
  <div class="left-nav">
    <mat-nav-list class="hide-mobile" *ngIf="leagues$ | async as leagues;">
      <ng-container *ngFor="let league of leagues">
        <a mat-list-item (click)="loadLeague(league)">{{league.name}}</a>
        <mat-nav-list class="sub-nav" *ngIf="leagueNav[league.id_league]">
          <a mat-list-item (click)="active='info'">Info</a>
          <a mat-list-item (click)="active='games'">Jogos</a>
          <a mat-list-item (click)="active='draft'">Draft</a>
        </mat-nav-list>
      </ng-container>
    </mat-nav-list>
    <mat-form-field class="hide-desktop" *ngIf="leagues$ | async as leagues;">
      <mat-select placeholder="Selecione uma liga" [(value)]="selected" (selectionChange)="loadLeague($event.value)">
        <mat-option *ngFor="let league of leagues" [value]="league">{{league.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div class="right-content">
    <div *ngIf="combined$ | async as combined; else loading">
      <div *ngIf="active==='info'">
        <form class="league-info">
          <app-league-info [league]="combined[0]" (save)="onSaveInfo(combined[0].id_league, $event)"></app-league-info>
          <app-league-configs [league]="combined[0]"></app-league-configs>
          <app-league-conference
            [conference]="conference"
            (save)="onSaveConference(combined[0].id_league, $event)"
            *ngFor="let conference of combined[0].conferences"></app-league-conference>
        </form>
      </div>
      <div *ngIf="active==='games'">
        <div *ngIf="games$ | async as games">
          <app-league-game [teams]="combined[1]" (save)="onAddGame(combined[0].id_league, $event)"></app-league-game>
          <app-admin-games [teams]="combined[1]" [games]="games" (delete)="onRemoveGame(combined[0].id_league, $event)"></app-admin-games>
        </div>
      </div>
      <div *ngIf="active==='draft'">
        <div *ngIf="drafts$ | async as drafts">
          <app-admin-draft-list
            [drafts]="drafts"
            (creation)="onDraftCreation(combined[0].id_league, $event)"
            (delete)="onDraftRemove(combined[0].id_league, $event)"
            (selection)="onSelection($event)"></app-admin-draft-list>
          <app-admin-draft-info
            *ngIf="draft$ | async as draft"
            [teams]="combined[1]"
            [draft]="draft"></app-admin-draft-info>
        </div>
      </div>
      <div *ngIf="!active" class="league-cards">
        <mat-card
          [class.mat-elevation-z2]="!activeInfo" [class.mat-elevation-z8]="activeInfo"
          (click)="active='info'"
          (mouseenter)="activeInfo=true"
          (mouseleave)="activeInfo=false">
          <mat-card-title>Informações</mat-card-title>
          <mat-card-content>Gerencie informações gerais da liga como nomes e siglas</mat-card-content>
        </mat-card>
        <mat-card
          [class.mat-elevation-z2]="!activeGames" [class.mat-elevation-z8]="activeGames"
          (click)="active='games'"
          (mouseenter)="activeGames=true"
          (mouseleave)="activeGames=false">
          <mat-card-title>Jogos</mat-card-title>
          <mat-card-content>Gerencie o calendário de jogos das equipes da liga</mat-card-content>
        </mat-card>
        <mat-card
          [class.mat-elevation-z2]="!activeDraft" [class.mat-elevation-z8]="activeDraft"
          (click)="active='draft'"
          (mouseenter)="activeDraft=true"
          (mouseleave)="activeDraft=false">
          <mat-card-title>Draft</mat-card-title>
          <mat-card-content>Gerencie drafts e picks</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <mat-card>
    <mat-card-title *ngIf="!leagueSelected">Selecione uma liga</mat-card-title>
    <mat-card-title *ngIf="leagueSelected">Carregando...</mat-card-title>
  </mat-card>
</ng-template>