app-league-game,
app-admin-draft-list,
app-admin-draft-info,
app-admin-games,
app-league-info,
app-league-conference {
  margin-bottom: 16px;
  display: block;
}

mat-form-field {
  margin-right: 16px;
}

.sub-nav {
  margin-left: 24px;
}

.mat-nav-list a.active {
  background: blue;
}

.left-nav {
  max-height: 64vh;
  overflow: scroll;
  background: rgba(0,0,0,.03);
}

.left-nav .mat-nav-list .mat-list-item {
  height: 28px;
  font-size: 13px;
  color: rgba(0,0,0,.54);
}