app-league-game,
app-admin-draft-list,
app-admin-draft-info,
app-admin-games,
app-league-info,
app-league-conference {
  margin-bottom: 16px;
  display: block;
}

mat-form-field {
  margin-right: 16px;
}

.sub-nav {
  margin-left: 24px;
}

.mat-nav-list a.active {
  background: blue;
}