<mat-toolbar color="primary" class="mat-elevation-z8 toolbar__wrapper">
  <mat-toolbar-row>
    <!-- Toggle sidenav on mobile -->
    <button class="hide-desktop"
      *ngIf="user"
      mat-icon-button
      (click)="sidenav.open()"><mat-icon>menu</mat-icon>
    </button>

    <!-- Home -->
    <a mat-button routerLink="">Superliga</a>

    <!-- Auth -->
    <ng-container *ngIf="user">
      <a class="hide-mobile" mat-button routerLink="roster">Roster</a>
      <a class="hide-mobile" mat-button routerLink="standings">Classifica&ccedil;&atilde;o</a>
      <a class="hide-mobile" mat-button routerLink="schedule">Calend&aacute;rio</a>
      <a class="hide-mobile" mat-button routerLink="trade">Trocas</a>
      <button class="hide-mobile" mat-button [matMenuTriggerFor]="utils">Utils</button>
      <mat-menu #utils="matMenu">
        <a mat-menu-item routerLink="free-agents">Free agents</a>
        <a mat-menu-item routerLink="stats">Stats</a>
        <a mat-menu-item routerLink="draft">Draft</a>
      </mat-menu>
      <!-- Search -->
      <app-typeahead class="hide-mobile toolbar__search"></app-typeahead>
      </ng-container>

      <!-- Public -->


      <!-- Auth -->
      <ng-container *ngIf="user">
        <!-- Spacer -->
        <span class="toolbar__spacer"></span>

        <!-- Team picker -->
        <app-team-picker *ngIf="user.teams.length > 1"></app-team-picker>

        <!-- <button mat-icon-button>
          <mat-icon class="toolbar__icon">message</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="toolbar__icon">settings</mat-icon>
        </button> -->
        <button class="hide-desktop" (click)="searchOpen = !searchOpen" mat-icon-button>
          <mat-icon>{{searchOpen?'close':'search'}}</mat-icon>
        </button>
        <a mat-icon-button routerLink="logout">
          <mat-icon class="toolbar__icon">exit_to_app</mat-icon>
        </a>
      </ng-container>
  </mat-toolbar-row>
  <mat-toolbar-row class="hide-desktop" *ngIf="searchOpen">
    <app-typeahead class="toolbar__search"></app-typeahead>
  </mat-toolbar-row>
</mat-toolbar>