<form [formGroup]="stateForm">
  <mat-form-field class="toolbar__search-field">
    <input type="text"
      matInput
      formControlName="stateGroup"
      placeholder="Procure times e jogadores"
      [matAutocomplete]="autoGroup">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete
      autoActiveFirstOption
      #autoGroup="matAutocomplete"
      [displayWith]="showValue"
      (optionSelected)="selectOption($event)">
      <ng-template ngFor let-group [ngForOf]="autocompleteOptions$ | async">
        <mat-optgroup
        *ngIf="group.names.length > 0"
        [label]="group.letter">
        <ng-container *ngIf="group.type === 'player'">
          <mat-option
            *ngFor="let item of group.names"
            [value]="item">
            <p class="mat-body-1 typeahead-option">
              <img
              class="player-avatar"
              src="http://www.draftbrasil.net/superliga/htdocs/img/player/profile/{{item.id_player}}.jpg">
              {{item.first_name}} {{item.last_name}}
            </p>
          </mat-option>
        </ng-container>

        <ng-container *ngIf="group.type === 'team'">
          <mat-option
            *ngFor="let item of group.names"
            [value]="item">
            <p class="mat-body-1 typeahead-option">
              <img
              class="player-avatar"
              src="http://www.draftbrasil.org/superliga/htdocs/img/team/pico/{{item.id_sl}}.png">
              {{item.city}} {{item.nickname}}
            </p>
          </mat-option>
        </ng-container>
      </mat-optgroup>
    </ng-template>
    </mat-autocomplete>
  </mat-form-field>
</form>
