.left-nav {
  max-height: 64vh;
  overflow: scroll;
  background: rgba(0,0,0,.03);
}

.left-nav .mat-nav-list .mat-list-item {
  height: 28px;
  font-size: 13px;
  color: rgba(0,0,0,.54);
}

.search-control {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.add-player {
  position: fixed;
  bottom: 56px;
  right: 56px;
}