<div class="grid" *ngIf="players$ | async as players;">
  <div class="left-nav" *ngIf="nbaTeams$ | async as teams;">
    <div class="search-control">
      <mat-form-field>
        <input matInput #search (keyup)="onSearchChange(search)" placeholder="Procure jogadores" type="text">
        <button mat-button *ngIf="search.value" matSuffix mat-icon-button (click)="search.value='';onSearchChange(search)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="search-control">
      <mat-form-field>
        <mat-select placeholder="Equipe" [(value)]="search.id_nba" (selectionChange)="onSearchChange(search)">
          <mat-option>Selecione</mat-option>
          <mat-option *ngFor="let team of teams" [value]="team.id_nba">{{team.city}} {{team.nickname}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let player of players" (click)="loadPlayer(player)">{{player.first_name}} {{player.last_name}}</a>
    </mat-nav-list>
  </div>
  <div class="right-content" *ngIf="player$ | async as player; else placeholder;">
    <app-admin-player-settings [player]="player" (save)="onSave(players, $event)"></app-admin-player-settings>
  </div>
  <div class="add-player">
    <button mat-fab (click)="onCreateClick()"><mat-icon>add</mat-icon></button>
  </div>
</div>
<ng-template #placeholder>
  <div class="right-content">
    <mat-card>
      <mat-card-title>
        <span *ngIf="!player$">Selecione um jogador ou adicione um novo</span>
        <span *ngIf="player$">Carregando...</span>
      </mat-card-title>
    </mat-card>
  </div>
</ng-template>