.player-name {
    flex-grow: 3;
}

.player-photo {
    margin-right: 8px;
}

.player-checkbox {
    max-width: 28px;
}

.divider {
    margin-top: 24px;
    margin-bottom: 24px;
}

mat-footer-row {
  background: #3f51b5;
}
mat-footer-cell {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

mat-cell {
    font-size: 12px;
}

mat-header-cell:first-child,
mat-cell:first-child {
    padding-left: 0;
}

mat-header-cell:last-child,
mat-cell:last-child {
    padding-right: 0;
}