.roster__content {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}

.roster__grid-tile {
    flex: 1;
    margin: 16px;
}

.roster__spacer {
  flex: 1 1 auto;
}

.save-button {
    position: fixed;
    bottom: 32px;
    right: 32px;
}
