.roster__content {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}

.roster__grid-tile {
    flex: 1;
    margin: 16px;
}

.roster__spacer {
  flex: 1 1 auto;
}

.save-button {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.empty-roster mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.empty-roster img {
    height: 96px;
}
