.grid {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.loading-image {
  background-image: url(../../assets/img/misc/player.gif);
  display: block;
  width: 28px;
  height: 51px;
}

.loading-image,
.loading-caption {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 32px auto;
}