<div class="hero">
  <h1 class="title mat-display-4">Fantasy Superliga</h1>
  <app-login-widget previousUrl="/" [warn]="false" [register]="true"></app-login-widget>
</div>
<div class="sub-hero">
    <div class="home-card">
      <h2 class="mat-headline">Nova Superliga</h2>
      <h4 class="mat-subheading-1">
        Seja bem vindo à nova Superliga! Mais moderna e cheia de novidades.
      </h4>
      <mat-list color="primary">
        <mat-list-item>
          <mat-icon matListIcon color>check_circle</mat-icon>
          <p matLine class="mat-body-1">Gerencie sua própria equipe de basquete<br>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon color>check_circle</mat-icon>
          <p matLine class="mat-body-1">Negocie jogadadores e escale a equipe</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon color>check_circle</mat-icon>
          <p matLine class="mat-body-1">Monte sua liga e convide amigos</p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon color>check_circle</mat-icon>
          <p matLine class="mat-body-1">Performances atualizadas em tempo real</p>
        </mat-list-item>
      </mat-list>
  </div>
</div>
