<mat-sidenav-container (backdropClick)="sidenav.close()">

  <!-- Mobile sidenav -->
  <mat-sidenav #sidenav (keydown.escape)="close()">
    <app-sidenav [sidenav]="sidenav"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Toolbar -->
    <app-toolbar [sidenav]="sidenav"></app-toolbar>

    <!-- Loading overlay -->
    <ng-container *ngIf="progressRef.state$ | async; let state">
      <mat-progress-bar color="warn" class="progress-bar" *ngIf="state.active" [value]="state.value"></mat-progress-bar>
    </ng-container>

    <!-- Outlet -->
    <div class="router-output">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>