<mat-table #table [dataSource]="sortedTeams" [ngClass]="{'mat-elevation-z8': elevate}">
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let i=index;">{{i + 1}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="team">
    <mat-header-cell *matHeaderCellDef class="team">Equipe</mat-header-cell>
    <mat-cell *matCellDef="let team" class="team">
      <img
        class="player-avatar"
        src="https://static.draftbrasil.net/team/logo/{{team.id_sl}}.png" alt="">
      <a class="link" [routerLink]="['/team', team.slug]">
       {{team.city}} {{team.nickname}}
    </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="win">
    <mat-header-cell *matHeaderCellDef>V</mat-header-cell>
    <mat-cell *matCellDef="let team">{{team.record.win}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="loss">
    <mat-header-cell *matHeaderCellDef>D</mat-header-cell>
    <mat-cell *matCellDef="let team">{{team.record.loss}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="fpg">
    <mat-header-cell *matHeaderCellDef>FPG</mat-header-cell>
    <mat-cell *matCellDef="let team">{{team.stats && team.stats.fantasy_points.toFixed(2)}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="rankColumns"></mat-header-row>
  <mat-row *matRowDef="let rowData; columns: rankColumns" [ngClass]="{
    'highlight-team': highlightTeam && highlightTeam.team_overview.id_sl === rowData.id_sl
  }"></mat-row>
</mat-table>