.team-logo {
    margin-right: 8px;
}

.trade-header {
    align-items: center;
}

.empty-trade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.empty-trade img {
    height: 96px;
}
