<div class="container" *ngIf="trades; else loading">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let trade of trades" (opened)="logView(trade)">
      <mat-expansion-panel-header>
        <mat-panel-title class="trade-header">
          <img class="player-avatar team-logo" src="https://static.draftbrasil.net/team/logo/{{trade.sender.id_sl}}.png">
          <p>{{ trade.sender.city }} {{ trade.sender.nickname }}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <h3 class="mat-subheading-2" *ngIf="trade.trade_comment" class="line-braker">
        <mat-icon>format_quote</mat-icon>
        <span [innerHTML]="trade.trade_comment"></span>
      </h3>

      <div>
        <mat-nav-list>
          <h3 matSubheader>{{ trade.sender.nickname }}</h3>
          <a mat-list-item *ngFor="let player of trade.sender_players" routerLink="/player/{{player.player_slug}}">
            <app-avatar [element]="player" matListAvatar></app-avatar>
            <h3 matLine>{{ player.first_name }} {{ player.last_name }}</h3>
            <p matLine>
              <span>{{ player.default_primary }}/{{ player.default_secondary }} </span>
            </p>
          </a>
          <a mat-list-item *ngFor="let pick of trade.sender_picks" routerLink="/team/{{pick.original.slug}}">
            <app-avatar [element]="pick.original" matListAvatar></app-avatar>
            <h3 matLine>{{ pick.draft.year_draft }}/{{ pick.round }}</h3>
            <p matLine>
              <span>({{ pick.original.symbol }})</span>
            </p>
          </a>
          <h3 matSubheader>{{ team.team.nickname }}</h3>
          <a mat-list-item *ngFor="let player of trade.receiver_players" routerLink="/player/{{player.player_slug}}">
            <app-avatar [element]="player" matListAvatar></app-avatar>
            <h3 matLine>{{ player.first_name }} {{ player.last_name }}</h3>
            <p matLine>
              <span>{{ player.default_primary }}/{{ player.default_secondary }} </span>
            </p>
          </a>
          <a mat-list-item *ngFor="let pick of trade.receiver_picks" routerLink="/team/{{pick.original.slug}}">
            <app-avatar [element]="pick.original" matListAvatar></app-avatar>
            <h3 matLine>{{ pick.draft.year_draft }}/{{ pick.round }}</h3>
            <p matLine>
              <span>({{ pick.original.symbol }})</span>
            </p>
          </a>
          <h3 matSubheader>{{ trade.views }} visualiza&ccedil;&otilde;es</h3>
        </mat-nav-list>
      </div>
      <mat-action-row>
        <button mat-button color="warn" (click)="revokeTrade(trade)">Recusar</button>
        <button mat-button color="primary" (click)="openTradeDialog(trade)">Aceitar</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card class="empty-trade" *ngIf="!trades.length > 0">
    <img src="../../../assets/img/misc/no-trade.svg" alt="Sem trocas">
    <p class="mat-subheading-1">Nenhuma troca recebida</p>
  </mat-card>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>