<mat-toolbar color="accent">Free agents</mat-toolbar>
<div class="container grid" *ngIf="freeAgents$ | async as freeAgents; else loading">
  <div class="fa-column">
    <app-free-agency-list *ngIf="freeAgents.length > 0" [players]="freeAgents" [team]="defaultTeam"></app-free-agency-list>
    <mat-card *ngIf="!freeAgents.length > 0">
      <mat-card-title>Jogadores</mat-card-title>
      <mat-card-content class="no-players">
        <img src="../../../assets/img/misc/no-data.svg" alt="Nenhum free agent disponível">
        <p class="mat-subheading-1">Nenhum free agent disponível</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="history-column">
    <app-free-agency-history></app-free-agency-history>
  </div>
</div>
<ng-template #loading>
  <app-loading *ngIf="!faLocked"></app-loading>
  <div *ngIf="faLocked" class="fa-locked container">
    <mat-card class="no-game">
      <mat-card-title>Free agency</mat-card-title>
      <mat-card-content>
        <img src="../../../assets/img/misc/basketball.svg" alt="Free agency trancada">
        <p class="mat-subheading-1">Free agency trancada</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>