.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.history-column,
.fa-column {
    min-width: 300px;
}

.fa-column {
    flex: 2;
    max-width: 784px;
}
.history-column {
    flex: 1;
    max-width: 384px;
}

.no-players,
.fa-locked mat-card-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 256px;
}

.no-players img,
.fa-locked img {
  height: 94px;
}
