.narrow {
    max-width: 40px;
}

.player-name {
    flex: 3;
}

.player-photo {
    margin-right: 8px;
}

.mat-row:hover {
    background: #E8EAF6;
    cursor: move;
}

.mat-row {
    touch-action: none;
}

.potential-high {
    color: #008b00;
}

.potential-medium {
    color: #78909c;
}

.potential-low {
    color: #e54304;
}


.empty-roster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.empty-roster img {
    height: 96px;
}
