mat-form-field, mat-checkbox, .position-group {
  margin: 16px 16px 16px 0;
}

mat-radio-group {
  width: 100%;
  display: inline-block;
  margin-bottom: 16px;
}

mat-radio-button {
  margin-right: 8px;
}

.card-title {
  display: flex;
  align-items: center;
}

.card-title img {
  margin-right: 8px;
}

.player-header {
  margin-bottom: 16px;
}

.add-header-button {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

.player-header img {
  max-height: 224px;
  object-fit: cover;
}