<div *ngIf="team$ | async as team; else loading">
  <div class="clubhouse__content-row">
    <app-team-info [team]="team"></app-team-info>
  </div>
  <div class="clubhouse__content">
    <div class="clubhouse__content-left">
      <div class="clubhouse__content-tile">
        <app-team-players [players]="team.team_overview.players"></app-team-players>
      </div>
      <div class="clubhouse__content-tile" *ngIf="team.team_overview.picks.length > 0">
        <app-team-picks [picks]="team.team_overview.picks"></app-team-picks>
      </div>
    </div>
    <div class="clubhouse__content-right">
      <div class="clubhouse__content-tile" *ngIf="team.team_overview.stats">
        <mat-card>
          <mat-card-title>Pontuação</mat-card-title>
          <mat-card-content>
            <div class="clubhouse__score-tile">
              <span class="mat-display-2 score-value">
                {{team.team_overview.stats.fantasy_points.toFixed(2)}}
                <span class="clubhouse__score-suffix">fpg</span>
              </span>
              <span class="mat-display-2 divider">
                •
              </span>
              <span class="mat-display-2 score-value">
                {{(team.team_overview.stats.fantasy_points/48).toFixed(2)}}
                <span class="clubhouse__score-suffix">fpm</span>
              </span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="clubhouse__content-tile">
        <app-standings-widget [team]="team"></app-standings-widget>
      </div>
      <div class="clubhouse__content-tile" *ngIf="team.team_overview.stats">
        <app-minutes-chart [stats]="team.team_overview.stats"></app-minutes-chart>
      </div>
      <div class="clubhouse__content-tile" *ngIf="team.team_overview.recent_games.length > 0">
        <app-recent-team-games [games]="team.team_overview.recent_games" [team]="team"></app-recent-team-games>
      </div>
      <div class="clubhouse__content-tile" *ngIf="team.team_overview.next_games.length > 0">
        <app-next-team-games [games]="team.team_overview.next_games" [team]="team"></app-next-team-games>
      </div>
    </div>
  </div>
</div>

<ng-template #loading><app-loading></app-loading></ng-template>