<mat-card>
  <mat-card-title>Jogos abertos</mat-card-title>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="boxscore-row"></mat-row>

      <!-- Home column -->
      <ng-container matColumnDef="home">
        <mat-header-cell *matHeaderCellDef>Jogo</mat-header-cell>
        <mat-cell *matCellDef="let game">
          <img class="player-avatar" src="https://static.draftbrasil.net/nba/logo/{{game.home.id_nba}}.png">
        </mat-cell>
      </ng-container>

      <!-- Away column -->
      <ng-container matColumnDef="away">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let game">
          <img class="player-avatar" src="https://static.draftbrasil.net/nba/logo/{{game.away.id_nba}}.png">
        </mat-cell>
      </ng-container>

      <!-- Round column -->
      <ng-container matColumnDef="rounds">
        <mat-header-cell *matHeaderCellDef>Rodadas</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.round_home.round_number}}, {{element.round_away.round_number}}</mat-cell>
      </ng-container>

      <!-- Date column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Horário</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gametime | amDateFormat:'L LT'}}</mat-cell>
      </ng-container>

      <!-- Done column -->
      <ng-container matColumnDef="boxDone">
        <mat-header-cell *matHeaderCellDef>Preenchido</mat-header-cell>
        <mat-cell *matCellDef="let element"><mat-icon *ngIf="element.box_done">check</mat-icon></mat-cell>
      </ng-container>

      <!-- Remove column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="narrow">Boxscore</mat-header-cell>
        <mat-cell *matCellDef="let element" class="narrow">
          <button mat-icon-button (click)="onSync(element)" [(disabled)]="element.isSyncing">
            <mat-icon>sync</mat-icon>
          </button>
          <a mat-icon-button color="primary" routerLink="./{{element.id_game_nba}}">
            <mat-icon>edit</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

    </mat-table>
  </mat-card-content>
</mat-card>