<mat-card>
  <div class="standings" *ngIf="league$ | async; else loading">
    <mat-card-title>Classifica&ccedil;&atilde;o
      <span class="mat-subheading-1" *ngIf="division$ | async as division"> / {{division.name}}</span>
    </mat-card-title>
    <mat-card-content *ngIf="division$ | async as division">
      <app-team-ranking [teams]="division.teams" [highlightTeam]="team"></app-team-ranking>
    </mat-card-content>
  </div>
</mat-card>

<ng-template #loading><app-loading></app-loading></ng-template>